<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2> valor sin escapar </h2>
    <%= valor %> 
    <h2> escribo segundo</h2>
   <%= cond.segundo %>

   <% users.forEach (user =>{ %>
   <p><%= user.name + ' ' + user.age %></p>
   <% }) %>

     <% if ( cond.estado ) { %>
    <p> <%= cond.segundo %> Es  par  <p>
   <% } else { %>
      p> <%= cond.segundo %> Es impar  <p>
    <% } %>

   

    

  </body>
</html>
